<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.honma.coder</string>
	<key>connections</key>
	<dict>
		<key>4697E209-69A2-4C45-BF87-FE7217B2D0B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC6FA451-5F2A-4C6C-9417-FBE812210F29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC6FA451-5F2A-4C6C-9417-FBE812210F29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B34A46C7-5F3D-4532-A951-4C9C025543B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B34A46C7-5F3D-4532-A951-4C9C025543B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62A9A43F-57E4-44EC-83D2-B8337AC4E5B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tamio Honma</string>
	<key>description</key>
	<string>Coder - Encode/decode input to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>coder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>1</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>coder</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Converting...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Press ⌘ on selected result item to decode</string>
				<key>title</key>
				<string>Coder: Encode</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC6FA451-5F2A-4C6C-9417-FBE812210F29</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B34A46C7-5F3D-4532-A951-4C9C025543B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4697E209-69A2-4C45-BF87-FE7217B2D0B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62A9A43F-57E4-44EC-83D2-B8337AC4E5B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Coder - Encode/decode input to clipboard (Alfred 4)

In Alfred, type `coder`, &lt;kbd&gt;Enter&lt;/kbd&gt; and your query.

Additionally, you may configure an hotkey for Coder in Alfred, which gives you the ability to select a text in any app, hit your hotkey to pass the selected text directly to Coder.

By default, Coder encodes the query through the following coders:

- URI
- URI Component
- HTML Entities
- Base64

To decode the selected result press ⌘.


---

MIT License © Tamio Honma
https://github.com/IOIO72/alfred-coder</string>
	<key>uidata</key>
	<dict>
		<key>4697E209-69A2-4C45-BF87-FE7217B2D0B0</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>62A9A43F-57E4-44EC-83D2-B8337AC4E5B8</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>AC6FA451-5F2A-4C6C-9417-FBE812210F29</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
		<key>B34A46C7-5F3D-4532-A951-4C9C025543B9</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.5</string>
	<key>webaddress</key>
	<string>https://github.com/IOIO72/alfred-coder</string>
</dict>
</plist>
